# only one port line allowed (last one will be used)
# these are comments
Port 2049

# limit connections of normal users to 10
MaxUsers 10

ServerLicense cclicense.txt

#anonymoususers yes or no
# allows users to log in as 'anonymous' and be known by their IP address
AnonymousUsers no
AnonymousUsersCanChat yes


#ACL list lets you specify in order a list, first match is used
ACL 10.0.0.0/8 deny
ACL 192.168.0.0/16 reserve # reserve slots for local
ACL 0.0.0.0/0 allow        # allow all


#user/password/permissions sets
User administrator myadminpass *   # allow all functions
User booga anotherpass CBTKR       # allow chat, bpm/bpi, topic changing, and kicking, and a reserved slot
User myuser mypass                 # allow default functions (chat, no topic)
